html {
  scroll-behavior: smooth;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tffc {
  border-radius: 10%;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
  border: none;
}

#table {
  height: 100vh;
}

table th {
  text-align: center;
}

#table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
}

/* Adjust the width of the table container */
.table-container {
  width: 60%; /* Adjust as needed */
}

/* Bottom left text */
.img-text {
  font-size: 90px;
  color: white;
  position: absolute;
  top: 170px;
  right: 170px;
  font-family: serif;
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1300px) {
  .img-text {
    font-size: 70px;
    top: 170px;
    right: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .img-text {
    font-size: 50px;
    top: 125px;
    right: 150px;
  }
}

@media screen and (max-width: 800px) {
  .img-text {
    font-size: 40px;
    top: 90px;
    right: 75px;
  }
}

@media screen and (max-width: 600px) {
  .img-text {
    font-size: 30px;
    top: 80px;
    right: 50px;
  }
}

@media screen and (max-width: 400px) {
  .img-text {
    font-size: 22px;
    top: 55px;
    right: 39px;
  }
}

.lead {
  opacity: 0;
  transform: translateY(25px);
  transition: all 2s ease-out;
}

.leadVisible {
  opacity: 1;
  transform: translateY(0);
}
